@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: Poppins;
  margin: 0;
  min-height: 100vh;
  color: black;
}
