.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  background: #f5f5f5;
  width: 100%;
  padding: 0 15%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  background: #f5f5f5;
  margin: 0 auto;
  padding: 0.5rem;
  list-style-type: none;
}

.homeLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
}

.addBtn {
  border: none;
  padding: 0.5rem 1rem;
  background: rgb(28, 97, 177);
  outline: none;
  font-weight: bold;
  border-radius: 0.5rem;
  color: white;
  cursor: pointer;
}

.kartaOgloszenie {
  /*  */
}
